<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/auth.css">
    <title>Реєстрація</title>
</head>
<body>
<div class="auth">
    <form id="registration-form" class="auth-form registration-form" action="/auth/registration" method="post"
    onsubmit="return checkPassword()">
        <h2 class="name-auth">Реєстрація</h2>
        <% if (errorMessage) { %>
            <p class="auth-error-message"><%= errorMessage %></p>
        <% } %>
        <div class="input-wrapper">
            <div class="input-block">
                <label for="username">Ім'я користувача:</label>
                <input id="username" name="username" type="text" required autofocus minlength="3" maxlength="12">
            </div>

            <div class="input-block">
                <label for="password">Пароль:</label>
                <input id="password" name="password" type="password" required minlength="3">
            </div>

            <div class="input-block">
                <label for="repeat-password">Повторіть пароль:</label>
                <input id="repeat-password" name="repeat-password" type="password" required minlength="3">
            </div>
        </div>
        <input class="auth-btn" type="submit" value="Зареєструватися">
        <a class="link-auth" href="/auth/login">Вже є обліковий запис</a>
    </form>
</div>

<script src="/public/js/auth.js"></script>
</body>
</html>