<div id="edit-user-modal" class="modal">
    <div class="modal-content edit-user-modal-content">
        <span class="close" onclick="closeEditUserModal()">&times;</span>
        <p class="modal-name">Редагувати користувача</p>
        <div class="user-info">
            <form id="edit-user-form" class="form">
                <input id="idUser" type="hidden" value="">
                <label for="username">
                    Ім'я:
                    <input id="username" name="username" type="text" value="">
                </label>
                <input class="btn-form edit-btn" type="submit" value="Редагувати">
            </form>
        </div>
    </div>
</div>