<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Сторінка адміністратора</title>
</head>
<body>
<div style="display: flex; gap: 20px; margin: 10px;">
    <h1 style="color: red">Not found</h1>
    <button style="cursor: pointer" onclick="history.back();">Back</button>
</div>
</body>
</html>