<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/admin.css">
    <link rel="stylesheet" href="/public/css/modal.css">
    <title>Сторінка адміністратора</title>
</head>
<body>
<div class="page admin-page">
    <div class="top-panel">
        <ul class="top-navbar">
            <h2 class="name-page">Підрозділи</h2>
            <div class="top-navbar-buttons">
                <li class="top-navbar-item">
                    <a class="navbar-btn" href="/">Сторінка користувача</a>
                </li>
                <li class="top-navbar-item">
                    <button class="navbar-btn" onclick="logout();" type="submit">Вийти</button>
                </li>
            </div>
        </ul>
    </div>
    <div class="admin-page-container">
        <div class="sidebar">
            <ul class="side-navbar">
                <li class="side-navbar-item">
                    <a id="link-users-page" class="navbar-btn" href="/admin/users">Користувачі</a>
                </li>
                <li class="side-navbar-item">
                    <a id="link-units-page" class="navbar-btn selected" href="#">Підрозділи</a>
                </li>
            </ul>
        </div>
        <div class="main-panel">
            <div class="unit-page">
                <% if(units.length === 0){ %>
                    <div class="empty-table">
                        <h2>Немає підрозділів</h2>
                    </div>
                <% }else { %>
                    <%- include("../../components/unit/listAdmin.ejs", units) %>
                <% } %>
                <button type="button" id="open-add-unit-modal" class="btn add-user-btn">Додати</button>
            </div>
        </div>
    </div>
</div>

<%- include("../../components/unit/add.ejs") %>
<%- include("../../components/unit/edit.ejs") %>

<script src="/public/js/logout.js"></script>
<script src="/public/js/admin/index.js"></script>
<script src="/public/js/admin/unit.js"></script>
</body>
</html>