<div id="change-password-user-modal" class="modal">
    <div class="modal-content change-password-user-modal-content">
        <span id="close-change-password-user-modal" class="close">&times;</span>
        <p class="modal-name">Поміняти пароль</p>

        <form id="change-password-user-form" class="modal-form">
            <input name="id_user" type="hidden" value="">
            <div class="input-wrapper">
                <div class="input-block">
                    <label for="change-password">Пароль:</label>
                    <input id="change-password" name="password" type="password" required minlength="3">
                </div>

                <div class="input-block">
                    <label for="change-repeat-password">Повторіть пароль:</label>
                    <input id="change-repeat-password" name="repeat-password" type="password" required minlength="3">
                </div>
            </div>
            <input class="btn change-password-user-btn btn-modal" type="submit" value="Поміняти">
        </form>
    </div>
</div>