<div id="edit-user-modal" class="modal">
    <div class="modal-content edit-user-modal-content">
        <span id="close-edit-user-modal" class="close">&times;</span>
        <p class="modal-name">Редагування користувача</p>
    </div>
</div>