<div id="show-user-modal" class="modal">
    <div class="modal-content show-user-modal-content">
        <span id="close-show-user-modal" class="close">&times;</span>
        <p class="modal-name">Інформація про користувача</p>

        <div class="user-info"></div>
    </div>
</div>