<div id="show-ttx" class="modal">
    <div class="modal-content show-ttx-modal">
        <span id="close-show-modal" class="close">&times;</span>
        <p class="modal-name">Тактико-технічні характеристики</p>

        <div class="ttx">
            <table id="list-ttx" class="ttx-table custom-table">
                <thead>
                <tr>
                    <th class="table-head-item">Властивість</th>
                    <th class="table-head-item">Значення</th>
                    <th class="table-head-item">Одиниця виміру</th>
                    <th class="table-head-item">Дії</th>
                </tr>
                </thead>
                <tbody id="tbody-ttx"></tbody>
            </table>
        </div>
    </div>
</div>